@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}


body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --bg-color: white;
  --text-color: black;
  --secondary-bg-color: #121B36; 
  --secondary-text-color: white; 
  --tertiary-bg-color: rgba(220, 200, 255, 1) ;
  --tertiary-text-color: black;
  --quaternary-bg-color: rgba(220, 200, 255, 1);
  --border-color: #e5e7eb;
}

.dark {
  --bg-color: black;
  --text-color: white;
  --secondary-bg-color: black; 
  --secondary-text-color: white; 
  --tertiary-bg-color: #0e0e0e; 
  --tertiary-text-color: white; 
  --quaternary-bg-color: #1c1c1c;
  --border-color: #4B5563;

}




.custom-dashed {
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-image: none;
  border-bottom: 4px dashed #9F37F8;
  border-bottom: 2px dashed;
  border-bottom-style: dashed;
}

::-webkit-scrollbar{
  display: none;
}


.carousel-item {
  transition: opacity 0.5s ease, transform 0.5s ease;
  will-change: transform, opacity;
}

