@import "tailwindcss";

/* index.css */


@layer utilities {
  .animate-scroll-x {
    animation: scrollX 20s linear infinite;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; 
  }
}

@keyframes scrollX {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}